@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fa-solid fa-camera-retro"></i>  Welcome</h1>
    <p>
        Capture memories. Organize moments. Share your story.
    </p>
</div>
